/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.browse-card {
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.browse-subjects {
    padding-top: 1.0em;
}

#item-metadata dt {
    display: block;
    width: 25%;
    margin-bottom: 0.5em;
}

#item-metadata dd {
    display: block;
    width: 75%;
    margin-bottom: 0.5em;
}